* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 5px;
  /* border: 5px dotted red; */
}

.containerLeft {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 5px;
  padding: 10px;
  align-items: center;
  /* border: 5px dotted green; */
}

.clickerContent {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* border: 5px dotted orange; */
}

.clickerContent p:nth-of-type(1) {
  font-size: 2em;
}

.clickerContent p:nth-of-type(2) {
  font-size: 1.25em;
}

.clickerContent p {
  margin: 10px;
}

#cup {
  height: 150px;
  margin: 20px;
}

#cup:hover {
  cursor: pointer;
  height: 155px;
  margin: 17px;
}

.containerRight {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 5px;
  padding: 10px;
  align-items: center;
  /* border: 5px dotted green; */
}

.containerRight h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.counterAdders {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 100%;
  min-height: 100px;
  margin: 5px;
  padding: 5px 10px;
  border: 5px solid black;
  border-radius: 25px;
}

.adder {
  display: flex;
  flex-direction: row;
  flex: 0 1 100px;
  margin: 5px;
  padding: 2.5px;
  border: 1px solid black;
  border-radius: 20px;
}

.adderLeft {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0;
  margin: 5px;
  padding: 15px;
  /* border: 1px dotted red; */
  border-radius: 20px;
}

button {
  width: 100px;
  height: 25px;
  padding: 15;
  margin-top: 15px;
}

.adderRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 1 0;
  margin: 5px;
  padding: 15px;
  /* border: 1px dotted red; */
  border-radius: 20px;
}

.adderRight span {
  margin: 10px 5px;
}

#adderOne,
#adderTwo,
#adderThree {
  visibility: hidden;
}